body {
	background: rgb(34,41,48); margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 100%; font-size: 100%; color: rgb(233,233,233); min-width: 600px;
}
a {
	color: rgb(78,177,186);
}
a:hover {
	background: none; color: rgb(100, 100, 102); text-decoration: none;
}
#container p {
	padding: 5.0em 250px 50px;
}
#container2 p {
	padding: 5.0em 100px 50px;
}
h1 {
	margin: 0.8em 0px 0.2em; padding: 0px;
}
h2 {
	margin: 0.8em 0px 0.2em; padding: 0px;
}
h3 {
	margin: 0.8em 0px 0.2em; padding: 0px;
}
p {
	margin: 0.4em 0px 0.8em; padding: 0px;
}
img {
	margin: 10px 0px 5px;
}
#ads img {
	padding-top: 10px; display: block;
}
#header {
	padding: 0.4em 15px 0px; width: 99%; clear: both; float: left; background: rgb();

}
#header {
	border-bottom-color: rgb(34,41,48); border-bottom-width: 15px; border-bottom-style: solid;
}
#header p {
	padding: 0.4em 15px 0px;
}
#header h1 {
	padding: 0.4em 15px 0px;
}
#header h2 {
	padding: 0.4em 15px 0px;
}
#header ul {
	list-style: none; margin: 10px 0px 0px; padding: 0px; width: 100%; clear: left; float: left;
}
#header ul li {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
#header ul li a {
	background: rgb(); margin: 0px 0px 0px 1px; padding: 3px 10px; left: 15px; text-align: center; color: rgb(0, 0, 0); line-height: 1.3em; text-decoration: none; float: left; display: block; position: relative;
}
#header ul li a:hover {
	background: rgb(51, 102, 153); color: rgb(250, 250, 250);
}
#header ul li a.active {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255); font-weight: bold;
}
#header ul li a.active:hover {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255); font-weight: bold;
}
#header ul li a span {
	display: block;
}
#layoutdims {
	background: rgb(34,41,48); margin: 0px; padding: 6px 15px !important; text-align: right; clear: both; border-top-color: rgb(0, 0, 0); border-top-width: 0px; border-top-style: solid;
}
.colmask {
	width: 100%; overflow: hidden; clear: both; float: left; position: relative;
}
.colright {
	width: 100%; float: left; position: relative;
}
.colmid {
	width: 100%; float: left; position: relative;
}
.colleft {
	width: 100%; float: left; position: relative;
}
.col1 {
	padding: 0px 0px 1em; overflow: hidden; float: left; position: relative;
}
.col2 {
	padding: 0px 0px 1em; overflow: hidden; float: left; position: relative;
}
.col3 {
	padding: 0px 0px 1em; overflow: hidden; float: left; position: relative;
}
.threecol {
	background: rgb(34,41,48);
}
.threecol .colmid {
	background: rgb(34,41,48); right: 25%;
}
.threecol .colleft {
	background: rgb(34,41,48); right: 50%;
}
.threecol .col1 {
	left: 81%; width: 30%;
}
.threecol .col2 {
	left: 80%; width: 30%;
}
.threecol .col3 {
	left: 82%; width: 30%;
}
.threecol .col1 {
	left: 81%; width: 30%;
}
.threecol .col2 {
	left: 80%; width: 30%;
}
.threecol .col3 {
	left: 82%; width: 30%;
}#footer {
	width: 100%; clear: both; border-top-color: rgb(200, 200, 200); border-top-width: 3px; border-top-style: solid; float: left;
}
#footer p {
	margin: 0px; padding: 10px;
}
.footcolmask {
	width: 100%; overflow: hidden; clear: both; float: left; position: relative;
}
.footcolright {
	width: 100%; float: left; position: relative;
}
.footcolmid {
	width: 100%; float: left; position: relative;
}
.footcolleft {
	width: 100%; float: left; position: relative;
}
.footcol {
	background: rgb(217, 219, 231);
}
.footcol .footcolmid {
	background: rgb(217, 219, 231); right: 25%;
}
.footcol .footcolleft {
	background: rgb(217, 219, 231); right: 50%;
}
.footcol .footcol1 {
	left: 45%; width: 30%;
}
.footcol .footcol2 {
	left: 30%; width: 30%;
}
.footcol .footcol3 {
	left: 50%; width: 30%;
}